*, *::before, *::after {
  box-sizing: border-box; }

ul[class], ol[class] {
  padding: 0; }

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0rem; }

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  height: auto;
  margin: 0rem; }

ul[class], ol[class] {
  list-style: none; }

a:not([class]) {
  text-decoration-skip-ink: auto; }

img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block; }

input, button, optgroup, textarea, select {
  margin: 0;
  font-family: inherit;
  font: inherit;
  font-size: inherit;
  line-height: inherit; }

input:focus, select:focus, textarea:focus, button:focus {
  outline: none; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

a:link {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:active {
  text-decoration: none; }

.end-transitions {
  animation-duration: 0s !important;
  animation-delay: 0s !important;
  transition-duration: 0s !important;
  transition-delay: 0s !important; }

[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
  cursor: pointer; }

[type="button"], [type="reset"], [type="submit"], button {
  -webkit-appearance: button; }

button, select {
  text-transform: none; }

button, input {
  overflow: visible; }

textarea {
  overflow: auto;
  resize: vertical; }

@font-face {
  font-family: 'nordique_probold';
  src: url("https://buildhello.ca/fonts/nordiquepro/nordiquepro-bold-webfont.woff2") format("woff2"), url("https://buildhello.ca/fonts/nordiquepro/nordiquepro-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("https://buildhello.ca/fonts/montserrat/Montserrat-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

#bh-form > .form-group {
  margin-bottom: .8rem;
  display: flex;
  flex-wrap: wrap; }
  #bh-form > .form-group > .form-control {
    display: block;
    width: 100%;
    height: auto;
    padding: .375rem .75rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    line-height: 1.5;
    font-size: 1rem;
    font-family: Arial, "Open Sans", sans-serif;
    font-weight: 400;
    color: #495057;
    line-height: 1.5;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
  #bh-form > .form-group > .bh-btn {
    color: #fff;
    background-color: #e1e1e1;
    border: 1px solid transparent;
    border-color: #e1e1e1;
    width: auto;
    padding: 1rem 1.4rem .8rem 1.4rem;
    margin: 1.2rem 0rem 1.2rem 0rem;
    border-radius: .25rem;
    font-size: 1.1rem;
    font-family: "nordique_probold", "Montserrat", Arial;
    font-weight: 400;
    color: #5a5a5a;
    line-height: 1.5;
    text-align: center;
    transition: all .2s ease-in-out;
    line-height: 1.5;
    user-select: none;
    vertical-align: middle;
    display: inline-block; }
    @media only screen and (max-width: 35.9375em) {
      #bh-form > .form-group > .bh-btn {
        padding: .8rem 1.2rem .6rem 1.2rem;
        font-size: 1.4rem; } }
    @media only screen and (min-width: 35.875em) {
      #bh-form > .form-group > .bh-btn {
        padding: .8rem 1.2rem .6rem 1.2rem;
        font-size: 1.4rem; } }
    @media only screen and (min-width: 64.3125em) {
      #bh-form > .form-group > .bh-btn {
        padding: .5rem .7rem .4rem .7rem; } }
  #bh-form > .form-group > .bh-btn:hover {
    transform: scale(1.1); }
  #bh-form > .form-group > input {
    margin-top: 0px; }

.blog-heading {
  padding: 0rem;
  margin-bottom: .5rem;
  width: 100%;
  text-align: center;
  font-size: 2.3rem;
  font-family: Arial, "Open Sans", sans-serif;
  font-weight: 600;
  color: rgba(27, 24, 24, 0.9);
  line-height: 1.5; }
  @media only screen and (min-width: 74.9375em) {
    .blog-heading {
      margin-bottom: 1rem; } }
  @media only screen and (min-width: 125em) {
    .blog-heading {
      margin-bottom: 1.3rem; } }
.p-news {
  width: 100%;
  height: auto;
  font-size: 1.3rem;
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  color: #0E0C0A;
  line-height: 1.5; }

@media only screen and (min-width: 35.875em) {
  font-size: 1.3rem; }

#disqus_thread {
  width: 100%;
  max-width: 800px; }
  @media only screen and (max-width: 35.9375em) {
    #disqus_thread {
      margin-top: 2rem; } }
  @media only screen and (min-width: 47.9375em) {
    #disqus_thread {
      margin-top: 3rem; } }
  @media only screen and (min-width: 74.9375em) {
    #disqus_thread {
      margin-top: 4rem; } }
  @media only screen and (min-width: 100em) {
    #disqus_thread {
      margin-top: 4.5rem; } }
  @media only screen and (min-width: 125em) {
    #disqus_thread {
      margin-top: 5rem; } }
  #disqus_thread > iframe > iframe:nth-child(1) {
    height: none !important;
    display: none !important; }
  #disqus_thread > iframe:nth-child(3) {
    height: none !important;
    display: none !important; }

.form-text {
  margin: .4rem 0rem .8rem .8rem;
  font-size: 0.8rem;
  font-family: Arial, "Open Sans", sans-serif;
  font-weight: 400;
  color: #495057;
  line-height: 1.5; }

.home-btn {
  color: #fff;
  background-color: #e1e1e1;
  border: 1px solid transparent;
  border-color: #e1e1e1;
  width: auto;
  padding: 1rem 1.4rem .8rem 1.4rem;
  margin: 1.2rem 0rem 1.2rem 0rem;
  border-radius: .25rem .25rem .25rem .25rem;
  font-size: 1.1rem;
  font-family: "nordique_probold", "Montserrat", Arial;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 1.5;
  text-align: center;
  transition: all .2s ease-in-out;
  line-height: 1.5;
  user-select: none;
  vertical-align: middle;
  display: inline-block; }
  @media only screen and (max-width: 35.9375em) {
    .home-btn {
      padding: .8rem 1.2rem .6rem 1.2rem;
      font-size: 1.4rem; } }
  @media only screen and (min-width: 35.875em) {
    .home-btn {
      padding: .8rem 1.2rem .6rem 1.2rem;
      font-size: 1.4rem; } }
  @media only screen and (min-width: 64.3125em) {
    .home-btn {
      padding: 1rem 1.4rem .8rem 1.4rem; } }
.home-btn:hover {
  transform: scale(1.1); }

.page-link {
  padding: .45rem 1rem; }

.preview_loops, .post-search-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 0.1fr minmax(5rem, auto);
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  justify-content: center; }
  @media only screen and (max-width: 35.9375em) {
    .preview_loops, .post-search-grid {
      grid-template-rows: auto 0.1fr minmax(5rem, auto);
      margin: 0rem 0rem 1.875rem 0rem; } }
  @media only screen and (min-width: 35.875em) {
    .preview_loops, .post-search-grid {
      margin: 0rem 0rem 2.5rem 0rem; } }
  @media only screen and (min-width: 47.9375em) {
    .preview_loops, .post-search-grid {
      grid-template-rows: auto 0.1fr minmax(5rem, auto); } }
  @media only screen and (min-width: 74.9375em) {
    .preview_loops, .post-search-grid {
      grid-template-rows: auto 0.1fr minmax(5rem, auto);
      margin: 0rem 0rem 3.125rem 0rem; } }
  @media only screen and (min-width: 87.5em) {
    .preview_loops, .post-search-grid {
      grid-template-rows: auto 0.1fr minmax(5rem, auto); } }
  @media only screen and (min-width: 100em) {
    .preview_loops, .post-search-grid {
      grid-template-rows: auto 0.1fr minmax(5rem, auto); } }
  @media only screen and (min-width: 125em) {
    .preview_loops, .post-search-grid {
      grid-template-rows: auto 0.1fr minmax(5rem, auto); } }
  .preview_loops > .side-preview-image, .post-search-grid > .side-preview-image {
    grid-column: 1;
    grid-row: 1;
    height: auto;
    width: 100%;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.4rem 0.4rem 0rem 0rem;
    align-items: center;
    justify-content: center;
    margin: 0px;
    aspect-ratio: 1.77778; }
    .preview_loops > .side-preview-image > .img, .post-search-grid > .side-preview-image > .img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center center;
      border-radius: 0.4rem 0.4rem 0rem 0rem; }
  .preview_loops > h3, .post-search-grid > h3 {
    height: 100%;
    width: 100%;
    grid-column: 1;
    grid-row: 3;
    font-size: 2.3rem;
    font-family: "nordique_probold", "Montserrat", Arial;
    font-weight: 600;
    color: rgba(27, 24, 24, 0.9);
    line-height: 1.5;
    justify-self: center;
    align-self: center;
    text-align: center; }
    @media only screen and (max-width: 35.9375em) {
      .preview_loops > h3, .post-search-grid > h3 {
        padding: .3rem .5rem 1rem .5rem; } }
    @media only screen and (max-width: 22.5625em) {
      .preview_loops > h3, .post-search-grid > h3 {
        padding: .3rem .3rem 1rem .3rem; } }
    @media only screen and (min-width: 35.875em) {
      .preview_loops > h3, .post-search-grid > h3 {
        padding: .6rem .6rem 1rem .6rem; } }
    @media only screen and (min-width: 47.9375em) {
      .preview_loops > h3, .post-search-grid > h3 {
        font-size: 1.1rem; } }
    @media only screen and (min-width: 64.3125em) {
      .preview_loops > h3, .post-search-grid > h3 {
        font-size: 1.8rem; } }
    @media only screen and (min-width: 74.9375em) {
      .preview_loops > h3, .post-search-grid > h3 {
        align-self: start;
        padding: .2rem .2rem .3rem .2rem;
        font-size: 1rem; } }
    @media only screen and (min-width: 100em) {
      .preview_loops > h3, .post-search-grid > h3 {
        align-self: start;
        padding: .6rem .6rem 1rem .6rem; } }
    @media only screen and (min-width: 125em) {
      .preview_loops > h3, .post-search-grid > h3 {
        padding: 1rem 1rem 1.3rem 1rem; } }
    .preview_loops > h3 > span > .strikethrough, .post-search-grid > h3 > span > .strikethrough {
      position: relative;
      white-space: nowrap;
      /* would center line-through in the middle of the wrapped lines */ }
    .preview_loops > h3 > span > .strikethrough:after, .post-search-grid > h3 > span > .strikethrough:after {
      border-top: 3px solid red;
      position: absolute;
      content: "";
      right: 0;
      top: 45%;
      left: 0; }
  .preview_loops > p, .post-search-grid > p {
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
    align-self: flex-start;
    padding: .8rem;
    font-size: 1.3rem;
    font-family: Arial, "Open Sans", sans-serif;
    font-weight: 400;
    color: rgba(27, 24, 24, 0.9);
    line-height: 1.5; }
    @media only screen and (min-width: 35.875em) {
      .preview_loops > p, .post-search-grid > p {
        font-size: 0.9rem; } }
@media only screen and (min-width: 64.3125em) {
  .preview_loops:hover {
    transform: scale(1.02);
    font-size: 100.2%;
    color: #008000ff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 25px -12px; } }

.side-content {
  display: flex;
  align-content: flex-start;
  justify-items: center;
  flex-wrap: wrap;
  padding: 0rem;
  word-break: break-word; }
  @media only screen and (max-width: 35.9375em) {
    .side-content {
      padding: 0px 10px;
      padding: 0px 16px; } }
  @media only screen and (min-width: 35.875em) {
    .side-content {
      padding: 0px 15px 20px 15px; } }
  .side-content > div {
    width: 100%;
    margin-bottom: 20px; }
    @media only screen and (max-width: 35.9375em) {
      .side-content > div {
        margin-bottom: 10px; } }
    @media only screen and (max-width: 22.5625em) {
      .side-content > div {
        margin-bottom: 5px; } }
    .side-content > div > h2 {
      padding: 0rem;
      margin-bottom: .5rem;
      width: 100%;
      text-align: center;
      font-size: 3rem;
      font-family: Arial, "Open Sans", sans-serif;
      font-weight: 600;
      color: rgba(27, 24, 24, 0.9);
      line-height: 1.5; }
      @media only screen and (min-width: 35.875em) {
        .side-content > div > h2 {
          font-size: 6rem; } }
      @media only screen and (min-width: 47.9375em) {
        .side-content > div > h2 {
          line-height: 1;
          font-size: 1.8rem; } }
      @media only screen and (min-width: 62em) {
        .side-content > div > h2 {
          line-height: 1.3;
          font-size: 2rem; } }
      @media only screen and (min-width: 74.9375em) {
        .side-content > div > h2 {
          line-height: 1;
          font-size: 1.3rem;
          margin-bottom: 1rem; } }
    .side-content > div > p {
      width: 100%;
      margin-bottom: 15px;
      font-size: 1.6rem;
      font-family: "Arimo", sans-serif;
      font-weight: 400;
      color: #212529;
      line-height: 1.5; }
      @media only screen and (min-width: 35.875em) {
        .side-content > div > p {
          font-size: 1.3rem; } }
.post-section-heading {
  font-size: 2.3rem;
  font-family: Arial, "Open Sans", sans-serif;
  font-weight: 600;
  color: rgba(27, 24, 24, 0.9);
  line-height: 1.5;
  margin: 1.5rem 0rem 1.5rem 0rem;
  width: 100%;
  height: min-content;
  text-align: center; }

h1 {
  font-size: 1.53rem;
  font-family: Arial, "Open Sans", sans-serif;
  font-weight: 600;
  color: rgba(27, 24, 24, 0.9); }

h2 {
  font-size: 1.36rem;
  font-family: Arial, "Open Sans", sans-serif;
  font-weight: 600;
  color: rgba(27, 24, 24, 0.9); }

h3 {
  font-size: 1.275rem;
  font-family: Arial, "Open Sans", sans-serif;
  font-weight: 600;
  color: rgba(27, 24, 24, 0.9); }

h4 {
  font-size: 1.105rem;
  font-family: Arial, "Open Sans", sans-serif;
  font-weight: 600;
  color: rgba(27, 24, 24, 0.9); }

h5 {
  font-size: 1.02rem;
  font-family: Arial, "Open Sans", sans-serif;
  font-weight: 600;
  color: rgba(27, 24, 24, 0.9); }

.contact-link {
  color: #551a8b; }

.breadcrumb-nav {
  grid-row: 2;
  max-width: 100%;
  font-size: 1.5em; }

.breadcrumb-nav ol {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0; }

.breadcrumb-nav a {
  text-align: left;
  font-size: 0.6em;
  color: #49ca5e;
  text-decoration: underline !important; }

.breadcrumb-nav a:hover {
  font-size: 0.7em;
  color: #96e0a2; }

.breadcrumb-nav span {
  text-align: left;
  padding: 0.2em 0.5em 0em 0.5em;
  font-size: 0.4em;
  color: #49ca5e; }

h1 {
  font-size: 1.53em;
  font-family: Arial, "Open Sans", sans-serif;
  font-weight: 600;
  color: #FFFFF0;
  padding: 2em 0em 0em 0em;
  line-height: 1.2; }

@media only screen and (max-width: 31.25em) {
  h1 {
    padding: 1em 0em 0em 0em; } }

ul[class="newsletter-admin-list"] {
  padding: 1em 0em 0em 3em;
  list-style: disc !important; }

ul[class="newsletter-admin-list"] > li {
  padding: 0.5em 0em; }

@media only screen and (max-width: 31.25em) {
  ul[class="newsletter-admin-list"] {
    padding: 1em 0em 0em 2em; } }

.newsletter-admin-links {
  color: #49ca5e; }

.newsletter-admin-links.visited {
  color: #49ca5e; }

.newsletter-admin-links:hover {
  color: #96e0a2;
  font-size: 1.2em; }

.newsletter-admin-links:active {
  text-decoration: none; }

.navigation > .navigation_container > .main-nav > ul > li > .nav-link {
  color: #ffffff !important; }

main {
  padding: 0 2%; }

@media only screen and (max-width: 22.5em) {
  body {
    font-family: sf compact display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: #767676;
    line-height: 1.5; }
    body {
      font-size: 14px; } }
    @media only screen and (max-width: 22.5em) and (min-width: 280px) {
      body {
        font-size: calc(14px + 8 * ((100vw - 280px) / 295)); } }
    @media only screen and (max-width: 22.5em) and (min-width: 575px) {
      body {
        font-size: 22px; } }
@media only screen and (min-width: 22.5625em) {
  body {
    font-family: sf compact display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: #767676;
    line-height: 1.5; }
    body {
      font-size: 14px; } }
    @media only screen and (min-width: 22.5625em) and (min-width: 361px) {
      body {
        font-size: calc(14px + 8 * ((100vw - 361px) / 214)); } }
    @media only screen and (min-width: 22.5625em) and (min-width: 575px) {
      body {
        font-size: 22px; } }
@media only screen and (min-width: 35.875em) {
  body {
    font-family: sf compact display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: #767676;
    line-height: 1.5; }
    body {
      font-size: 22px; } }
    @media only screen and (min-width: 35.875em) and (min-width: 575px) {
      body {
        font-size: calc(22px + 6 * ((100vw - 575px) / 193)); } }
    @media only screen and (min-width: 35.875em) and (min-width: 768px) {
      body {
        font-size: 28px; } }
@media only screen and (min-width: 47.9375em) {
  body {
    font-family: sf compact display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: #767676;
    line-height: 1.5; }
    body {
      font-size: 16px; } }
    @media only screen and (min-width: 47.9375em) and (min-width: 768px) {
      body {
        font-size: calc(16px + 4 * ((100vw - 768px) / 224)); } }
    @media only screen and (min-width: 47.9375em) and (min-width: 992px) {
      body {
        font-size: 20px; } }
@media only screen and (min-width: 62em) {
  body {
    font-family: sf compact display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: #767676;
    line-height: 1.5; }
    body {
      font-size: 12px; } }
    @media only screen and (min-width: 62em) and (min-width: 992px) {
      body {
        font-size: calc(12px + 5 * ((100vw - 992px) / 208)); } }
    @media only screen and (min-width: 62em) and (min-width: 1200px) {
      body {
        font-size: 17px; } }
@media only screen and (min-width: 74.9375em) {
  body {
    font-family: sf compact display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: #767676;
    line-height: 1.5; }
    body {
      font-size: 10px; } }
    @media only screen and (min-width: 74.9375em) and (min-width: 1200px) {
      body {
        font-size: calc(10px + 14 * ((100vw - 1200px) / 720)); } }
    @media only screen and (min-width: 74.9375em) and (min-width: 1920px) {
      body {
        font-size: 24px; } }
@media only screen and (min-width: 118.75em) {
  body {
    font-family: sf compact display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: #767676;
    line-height: 1.5; }
    body {
      font-size: 19px; } }
    @media only screen and (min-width: 118.75em) and (min-width: 1920px) {
      body {
        font-size: calc(19px + 7 * ((100vw - 1920px) / 330)); } }
    @media only screen and (min-width: 118.75em) and (min-width: 2250px) {
      body {
        font-size: 26px; } }
@media only screen and (min-width: 140.625em) {
  body {
    font-family: sf compact display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: #767676;
    line-height: 1.5; }
    body {
      font-size: 12px; } }
    @media only screen and (min-width: 140.625em) and (min-width: 2250px) {
      body {
        font-size: calc(12px + 16 * ((100vw - 2250px) / 630)); } }
    @media only screen and (min-width: 140.625em) and (min-width: 2880px) {
      body {
        font-size: 28px; } }
.mobile-iframe {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  display: block;
  aspect-ratio: 1.77777; }

.w_100 {
  width: 100%; }

.w_90 {
  width: 90%; }
  @media only screen and (max-width: 35.9375em) {
    .w_90 {
      width: 100%; } }
.w_80 {
  width: 80%; }
  @media only screen and (max-width: 35.9375em) {
    .w_80 {
      width: 100%; } }
.w_75 {
  width: 75%; }
  @media only screen and (max-width: 35.9375em) {
    .w_75 {
      width: 100%; } }
.w_60 {
  width: 60%; }
  @media only screen and (max-width: 35.9375em) {
    .w_60 {
      width: 100%; } }
.w_50 {
  width: 50%; }
  @media only screen and (max-width: 35.9375em) {
    .w_50 {
      width: 100%; } }
.w_40 {
  width: 40%; }
  @media only screen and (max-width: 35.9375em) {
    .w_40 {
      width: 100%; } }
.w_30 {
  width: 30%; }
  @media only screen and (max-width: 35.9375em) {
    .w_30 {
      width: 100%; } }
.w_25 {
  width: 25%; }
  @media only screen and (max-width: 35.9375em) {
    .w_25 {
      width: 100%; } }
.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  min-height: 150px;
  width: 100%;
  background: #0E0C0A;
  align-items: center;
  font-family: Arial, sans-serif, "Microma", "Open Sans";
  font-weight: 400;
  color: #ffffff;
  line-height: 1.5; }
  .footer {
    font-size: 14px; }
    @media screen and (min-width: 361px) {
      .footer {
        font-size: calc(14px + 8 * ((100vw - 361px) / 214)); } }
    @media screen and (min-width: 575px) {
      .footer {
        font-size: 22px; } }
  @media only screen and (min-width: 35.875em) {
    .footer {
      font-family: Arial, sans-serif, "Microma", "Open Sans";
      font-weight: 400;
      color: #ffffff;
      line-height: 1.5; }
      .footer {
        font-size: 22px; } }
    @media only screen and (min-width: 35.875em) and (min-width: 575px) {
      .footer {
        font-size: calc(22px + 6 * ((100vw - 575px) / 193)); } }
    @media only screen and (min-width: 35.875em) and (min-width: 768px) {
      .footer {
        font-size: 28px; } }
  @media only screen and (min-width: 47.9375em) {
    .footer {
      font-family: Arial, sans-serif, "Microma", "Open Sans";
      font-weight: 400;
      color: #ffffff;
      line-height: 1.5; }
      .footer {
        font-size: 16px; } }
    @media only screen and (min-width: 47.9375em) and (min-width: 768px) {
      .footer {
        font-size: calc(16px + 4 * ((100vw - 768px) / 224)); } }
    @media only screen and (min-width: 47.9375em) and (min-width: 992px) {
      .footer {
        font-size: 20px; } }
  @media only screen and (min-width: 62em) {
    .footer {
      font-family: Arial, sans-serif, "Microma", "Open Sans";
      font-weight: 400;
      color: #ffffff;
      line-height: 1.5; }
      .footer {
        font-size: 12px; } }
    @media only screen and (min-width: 62em) and (min-width: 992px) {
      .footer {
        font-size: calc(12px + 5 * ((100vw - 992px) / 208)); } }
    @media only screen and (min-width: 62em) and (min-width: 1200px) {
      .footer {
        font-size: 17px; } }
  @media only screen and (min-width: 74.9375em) {
    .footer {
      font-family: Arial, sans-serif, "Microma", "Open Sans";
      font-weight: 400;
      color: #ffffff;
      line-height: 1.5; }
      .footer {
        font-size: 10px; } }
    @media only screen and (min-width: 74.9375em) and (min-width: 1200px) {
      .footer {
        font-size: calc(10px + 14 * ((100vw - 1200px) / 720)); } }
    @media only screen and (min-width: 74.9375em) and (min-width: 1920px) {
      .footer {
        font-size: 24px; } }
  @media only screen and (min-width: 118.75em) {
    .footer {
      font-family: Arial, sans-serif, "Microma", "Open Sans";
      font-weight: 400;
      color: #ffffff;
      line-height: 1.5; }
      .footer {
        font-size: 19px; } }
    @media only screen and (min-width: 118.75em) and (min-width: 1920px) {
      .footer {
        font-size: calc(19px + 7 * ((100vw - 1920px) / 330)); } }
    @media only screen and (min-width: 118.75em) and (min-width: 2250px) {
      .footer {
        font-size: 26px; } }
  @media only screen and (min-width: 140.625em) {
    .footer {
      font-family: Arial, sans-serif, "Microma", "Open Sans";
      font-weight: 400;
      color: #ffffff;
      line-height: 1.5; }
      .footer {
        font-size: 12px; } }
    @media only screen and (min-width: 140.625em) and (min-width: 2250px) {
      .footer {
        font-size: calc(12px + 16 * ((100vw - 2250px) / 630)); } }
    @media only screen and (min-width: 140.625em) and (min-width: 2880px) {
      .footer {
        font-size: 28px; } }
  @media only screen and (min-width: 156.25em) {
    .footer {
      grid-template-columns: 1fr minmax(auto, 2500px) 1fr; } }
  .footer > .footer_container {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr .5fr;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 0.4rem;
    text-align: center; }
    @media only screen and (max-width: 25.6875em) {
      .footer > .footer_container {
        grid-template-rows: .5fr 1fr .5fr .5fr; } }
    @media only screen and (min-width: 156.25em) {
      .footer > .footer_container {
        grid-column: 2; } }
    .footer > .footer_container > .hugo {
      grid-column: 1/4;
      grid-row: 1;
      height: auto;
      width: 100%;
      margin: 5px 0px;
      text-align: center;
      align-self: start;
      font-size: 1.2em; }
      @media only screen and (max-width: 35.9375em) {
        .footer > .footer_container > .hugo {
          margin: 1.3rem 0rem; } }
      @media only screen and (min-width: 35.875em) {
        .footer > .footer_container > .hugo {
          margin: 1.3rem 0rem; } }
    .footer > .footer_container > .icons {
      font-size: 1.3rem;
      transition: all .2s ease-in-out;
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 35.9375em) {
        .footer > .footer_container > .icons {
          width: 35%; } }
      @media only screen and (max-width: 31.25em) {
        .footer > .footer_container > .icons {
          width: 33%; } }
      @media only screen and (max-width: 25.6875em) {
        .footer > .footer_container > .icons {
          width: 30%; } }
      @media only screen and (max-width: 22.5625em) {
        .footer > .footer_container > .icons {
          width: 28%; } }
      @media only screen and (max-width: 20.0625em) {
        .footer > .footer_container > .icons {
          width: 26%; } }
      @media only screen and (max-width: 17.5em) {
        .footer > .footer_container > .icons {
          width: 22%; } }
      @media only screen and (min-width: 35.875em) {
        .footer > .footer_container > .icons {
          width: 35%; } }
      @media only screen and (min-width: 40.625em) {
        .footer > .footer_container > .icons {
          width: 36%; } }
      @media only screen and (min-width: 47.9375em) {
        .footer > .footer_container > .icons {
          width: 38%; } }
      @media only screen and (min-width: 51.875em) {
        .footer > .footer_container > .icons {
          width: 40%; } }
      @media only screen and (min-width: 62em) {
        .footer > .footer_container > .icons {
          width: 40%; } }
      @media only screen and (min-width: 64.3125em) {
        .footer > .footer_container > .icons {
          width: 42%; } }
      @media only screen and (min-width: 74.9375em) {
        .footer > .footer_container > .icons {
          width: 43%; } }
      @media only screen and (min-width: 100em) {
        .footer > .footer_container > .icons {
          width: 44%; } }
      @media only screen and (min-width: 112.5em) {
        .footer > .footer_container > .icons {
          width: 45%; } }
      @media only screen and (min-width: 125em) {
        .footer > .footer_container > .icons {
          width: 46%; } }
      @media only screen and (min-width: 125em) {
        .footer > .footer_container > .icons {
          width: 46%; } }
      @media only screen and (min-width: 140.625em) {
        .footer > .footer_container > .icons {
          width: 46%; } }
      .footer > .footer_container > .icons > svg {
        fill: #939a9e; }
        @media only screen and (max-width: 35.9375em) {
          .footer > .footer_container > .icons > svg {
            height: 2.3rem;
            width: 2.3rem; } }
        @media only screen and (min-width: 35.875em) {
          .footer > .footer_container > .icons > svg {
            height: 2.2rem;
            width: 2.2rem; } }
        @media only screen and (min-width: 87.5em) {
          .footer > .footer_container > .icons > svg {
            height: 1.8rem;
            width: 1.8rem; } }
    .footer > .footer_container > .icons.facebook > svg {
      fill: #939a9e; }
      @media only screen and (max-width: 35.9375em) {
        .footer > .footer_container > .icons.facebook > svg {
          height: 2.2rem;
          width: 2.2rem; } }
      @media only screen and (min-width: 35.875em) {
        .footer > .footer_container > .icons.facebook > svg {
          height: 2.1rem;
          width: 2.1rem; } }
      @media only screen and (min-width: 87.5em) {
        .footer > .footer_container > .icons.facebook > svg {
          height: 1.7rem;
          width: 1.7rem; } }
    .footer > .footer_container > .icons > svg:hover {
      transform: scale(1.15); }
    .footer > .footer_container > a.facebook {
      justify-self: start;
      grid-column: 1/4;
      grid-row: 2;
      display: flex;
      align-items: center;
      justify-content: end;
      margin: 0px 10px 0px 10px; }
    .footer > .footer_container > a.develop {
      justify-self: center;
      grid-column: 2;
      grid-row: 2;
      width: 100px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px 10px 0px 10px; }
      @media only screen and (min-width: 35.875em) {
        .footer > .footer_container > a.develop {
          margin: 10px;
          height: 50px;
          width: 100px; } }
      @media only screen and (min-width: 62em) {
        .footer > .footer_container > a.develop {
          height: 60px;
          width: 110px;
          margin: 15px 10px 15px 10px; } }
      .footer > .footer_container > a.develop > .footer-logo {
        border-radius: 0.25rem;
        height: 100%;
        width: auto;
        transition: all .2s ease-in-out;
        align-items: center;
        justify-content: center;
        display: flex; }
        .footer > .footer_container > a.develop > .footer-logo > .img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
          border-radius: 0.25rem; }
    .footer > .footer_container > a.develop:hover {
      transform: scale(1.2); }
    .footer > .footer_container > a.subscribe-link {
      justify-self: end;
      grid-column: 1/4;
      grid-row: 2;
      display: flex;
      align-items: center;
      justify-content: start;
      margin: 0px 10px 0px 10px; }
    .footer > .footer_container > section {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center; }
    .footer > .footer_container > .footer-right {
      grid-column: 2;
      grid-row: 3;
      align-items: center;
      text-align: center; }
      @media only screen and (max-width: 31.25em) {
        .footer > .footer_container > .footer-right {
          grid-column: 2;
          grid-row: 3;
          text-align: center; } }
      .footer > .footer_container > .footer-right > .working, .footer > .footer_container > .footer-right > .email {
        height: auto;
        width: 100%; }
        .footer > .footer_container > .footer-right > .working > a, .footer > .footer_container > .footer-right > .email > a {
          color: #49ca5e;
          font-size: 1em;
          text-decoration: underline;
          padding: .2em; }
          @media only screen and (max-width: 35.9375em) {
            .footer > .footer_container > .footer-right > .working > a, .footer > .footer_container > .footer-right > .email > a {
              padding: .3em; } }
      .footer > .footer_container > .footer-right a:hover {
        color: #96e0a2;
        font-size: 102%; }
    .footer > .footer_container > .terms {
      grid-column: 1/4;
      grid-row: 4;
      align-items: center;
      text-align: center;
      padding: 0em 0em;
      margin: 0; }
    .footer > .footer_container > .terms a {
      font-size: 1em;
      color: #49ca5e; }
    .footer > .footer_container > .terms a:hover {
      color: #96e0a2;
      font-size: 102%; }
    .footer > .footer_container > .copy {
      grid-column: 1/4;
      grid-row: 5;
      margin: 8px 0px 10px 0px; }
      @media only screen and (min-width: 35.875em) {
        .footer > .footer_container > .copy {
          margin: 1em 0em 1em 0em; } }
      @media only screen and (min-width: 87.5em) {
        .footer > .footer_container > .copy {
          margin: 1em 0em 1em 0em; } }

/*# sourceMappingURL=source_map.css.map */