//add phone number
.container #navbar_container{
width:85%;
float: left;
margin-left: 15%;
}

.fh5co-menu-1{
width: 60%;
margin-left: 0px;
padding-right: 0px;
}


.fh5co-main-nav .fh5co-menu-1{
width: 60%;
margin-left: 0px;
padding-right: 0px;
border:solid;
border-color:red;
float:left;
}




@media (min-width: 768px) {
#navbar_container{
width: 85%;
float: left;
margin-left: 15%;
}
.fh5co-main-nav .fh5co-menu-1{
width: 100%;
//float:none;
//clear:both;
}

}//end 768
@media (min-width: 992px) {
#navbar_container{
width: 85%;
float: left;
margin-left: 15%;
}
.fh5co-main-nav .fh5co-menu-1{
width: 100%;
//float:none;
}


}//end 992
@media (min-width: 1200px) {
#navbar_container {
float: left;
width: 85%;
margin-left: 15%;
}
.fh5co-main-nav .fh5co-menu-1{
width: 60%;
}
}//end 1200



Thu Mar 21 2019 12:38:10 Pacific Daylight Time 

#navbar_container{
width:85%;
float: left;
margin-left: 12%;
}

//
@media (min-width: 768px) {
 #navbar_container{
width: 85%;
float: left;
margin-left: 12%;
}
}//end 768

@media (min-width: 992px) {
 #navbar_container{
width: 85%;
float: left;
margin-left: 12%;
}
}//end 992

@media (min-width: 1200px) {
#navbar_container {
float: left;
width: 85%;
margin-left: 12%;
}
}//end 1200


