@import "../../../assets/sass/includes/base/media_queries";
@import "../../../assets/sass/includes/base/variables";

.foldit-bold-700 {
  font-family: "Foldit", serif !important;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

@include responsive(small-phone){
font-size: 1em !important;
}

@include responsive(galaxy){
font-size:0.9em !important;
}

@include responsive(phone){
font-size:1.2em !important;
}

@include responsive(tablet){
font-size:1.5em !important;
}


@include responsive(laptop){
font-size:1.7em !important;
}

}

.ballet-400 {
  font-family: "Ballet", serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.big-shoulders-stencil-text-auto {
  font-family: "Big Shoulders Stencil Text", serif !important;
  font-optical-sizing: auto;
  font-weight: 600;// 100 - 900
  font-style: normal;
}


.wrapper > .header {
background-size:contain;
}

.wrapper > .banner > .article-title {
font-family:"sansForgetica" !important;
color:#1e4a64;
font-weight:700;

@include responsive(small-phone){
font-size:$supersized;
}

@include responsive(galaxy){
font-size:$med;
}

@include responsive(phone){
font-size:$big;
}

@include responsive(tablet){
font-size:$grande;
}

}//end article title
