@import "../assets/sass/includes/base/media_queries";
@import "../assets/sass/includes/base/variables";

@include font-face("sansForgetica", "/../../fonts/sans_forgetica/SansForgetica-Regular", normal, normal, woff2);

.wrapper > .header {
background-size:contain;
}

.wrapper > .banner > .article-title {

font-family:"sansForgetica";
color:#1e4a64;
font-weight:700;

@include responsive(small-phone){
font-size:$supersized;
}

@include responsive(galaxy){
font-size:$med;
}

@include responsive(phone){
font-size:$big;
}

@include responsive(tablet){
//font-size:$gargantuan;
font-size:$grande;
}

}//end article title
