@import "../assets/sass/includes/base/media_queries";
@import "../assets/sass/includes/base/variables";

.wrapper > .mission > section > section > h2{
font-family: "nordique_probold", "Montserrat", Arial;
font-weight: 400;
line-height: 1.5;
color: #5a5a5a !important;
background-color: #e1e1e1;
border-radius:0rem;
}
