@import "../assets/sass/includes/base/media_queries";
@import "../assets/sass/includes/base/variables";

.banner > .article-title {
font-family:$font-family-courier;
color: $color-deep-red;
font-size: $immense;
margin-top:40px;
margin-bottom:40px;
}

.main > .main-content > .p-news {
color:$color-silhouette-dark;
font-size: $larger;
line-height:2;
}
