@import "../assets/sass/includes/base/media_queries";
@import "../assets/sass/includes/base/variables";

html {
background-color:$color-dark;
opacity:1;
}

body {
background-color:$color-dark;
opacity:1;
}
