@import "../assets/sass/includes/base/media_queries";
@import "../assets/sass/includes/base/variables";


.wrapper > .header > .heroText {

@include responsive(small-phone){
//grid-column: 5/22;
grid-column: 2/25;
}

@include responsive(iphone-x){
grid-column: 2/25;
}

}

.main > .main-content > h3{

@include responsive(phone){
margin:2rem 0rem 2rem 0rem;
}//end phone 

}
