@import "../assets/sass/includes/base/media_queries";
@import "../assets/sass/includes/base/variables";

.stretch_it{
min-height: 1000px;
}

.author_profile_text{
font-family:'SF Compact Display',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
font-size:1.2rem;
color:#767676;
width:100%;
}

.breadcrumb {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.breadcrumb li {
  display: inline;
  white-space: nowrap;
}

.breadcrumb li + li:before {
  content: ">";
  padding: 0.3rem;
}
