@import "../assets/sass/includes/base/media_queries";
@import "../assets/sass/includes/base/variables";

body {
background-size: cover; 
}

body > .wrapper{
background:hsla(0,100%,0%,.75);

//reverse cascade
@include responsive(small-phone){min-height:50rem;}//500px x 1.15 = 574px
@include responsive(iphone-x){min-height:47rem;}//361px x 1.04 = 376px
@include responsive(galaxy){min-height:45rem;}//321px x 1.12 = 361px
 
//forward cascade
@include responsive(phone){min-height:50rem;}//500px x 1.15 = 574px
@include responsive(tablet){min-height:40rem;}//650px x 1.18 = 768px
@include responsive(tablet-plus){min-height:50rem;}//768px x 1.08 = 830px
@include responsive(big-tablet){min-height:45}//830px x 1.19 = 992px 
@include responsive(laptop){min-height:45rem;}//992px x 1.038 = 1030px
@include responsive(desktop){min-height:40rem;}//992px x 1.038 = 1030px
@include responsive(big-tv){grid-column: 1/4;}//2250px x 1.111 2500px
}

.wrapper > .header{
display:none;
}

.wrapper > #ads{
display:none;
}

.wrapper > #sidebar{
display:none;
}

.wrapper > .banner {
display:none;
} 

.wrapper > .main > .main-content{
align-items:center;
align-content:center;
}

@media only screen and (min-width: 1600px){
.wrapper>.main {
grid-column: 5/22;

}
}

@media only screen and (min-width: 1200px){
.wrapper>.main {
    grid-column: 4/23;
    grid-row: 3/6;
}
}

@media only screen and (min-width: 768px){
.wrapper>.main {
    grid-column: 3/24;
    grid-row: 3/6;
}
}

@media only screen and (min-width: 1200px){
.wrapper>.main {
    grid-column: 6/21;
}
}


@media only screen and (min-width: 768px){
.wrapper>.main {
    grid-column: 2/17;
    grid-row: 3/7;
}
}


@media only screen and (min-width: 574px){
.wrapper>.main {
grid-column: 2/25;
}
}

.wrapper>.main {
grid-column: 2/25;
grid-row: 3/6;
}

.wrapper > .main > .main-content{
display:grid;
grid-template-columns:1fr;
grid-template-rows: 1fr minmax(4em, auto);
min-height:60vh;
}

#survey-iframe-container #ownership-survey {
margin:3em auto;
}

#survey-iframe-container #ownership-survey body {
overflow:hidden;
}
