@import "../assets/sass/includes/base/media_queries";
@import "../assets/sass/includes/base/variables";

body {
background-size: cover; 
}

body > .wrapper{
background:hsla(0,100%,0%,.75);

//reverse cascade
@include responsive(small-phone){min-height:50rem;}//500px x 1.15 = 574px
@include responsive(iphone-x){min-height:47rem;}//361px x 1.04 = 376px
@include responsive(galaxy){min-height:45rem;}//321px x 1.12 = 361px
 
//forward cascade
@include responsive(phone){min-height:50rem;}//500px x 1.15 = 574px
@include responsive(tablet){min-height:40rem;}//650px x 1.18 = 768px
@include responsive(tablet-plus){min-height:50rem;}//768px x 1.08 = 830px
@include responsive(big-tablet){min-height:45}//830px x 1.19 = 992px 
@include responsive(laptop){min-height:45rem;}//992px x 1.038 = 1030px
@include responsive(desktop){min-height:40rem;}//992px x 1.038 = 1030px
@include responsive(big-tv){grid-column: 1/4;}//2250px x 1.111 2500px
}

.wrapper > .header{
display:none;
}

.wrapper > #ads{
display:none;
}

.wrapper > #sidebar{
display:none;
}

.wrapper > .banner {
display:none;
} 

.wrapper > .main > .main-content{
align-items:center;
align-content:center;
}

@media only screen and (min-width: 1600px){
.wrapper>.main {
grid-column: 5/22;

}
}

@media only screen and (min-width: 1200px){
.wrapper>.main {
    grid-column: 4/23;
    grid-row: 3/6;
}
}

@media only screen and (min-width: 768px){
.wrapper>.main {
    grid-column: 3/24;
    grid-row: 3/6;
}
}

@media only screen and (min-width: 1200px){
.wrapper>.main {
    grid-column: 6/21;
}
}


@media only screen and (min-width: 768px){
.wrapper>.main {
    grid-column: 2/17;
    grid-row: 3/7;
}
}


@media only screen and (min-width: 574px){
.wrapper>.main {
    grid-column: 2/25;
}
}

.wrapper>.main {
    grid-column: 2/25;
    grid-row: 3/6;
}

.masthead {
border-radius:6px;

& > .p-news-wrapped{
overflow:hidden;
}

}


label {
    display:block;
    width:auto;
    margin-top:8px;
    font-weight:bold;
}

.mergeRow {
    padding:0 0 6px 0 !important;
    clear:both;
}

.field-group {
    position:relative;
    margin:3px 0 12px 0;
    overflow:hidden;
    background:transparent !important;
}
.mergeRow-radio .field-group, .mergeRow-interests-checkboxes .field-group {margin-bottom:6px;}

input, textarea, select {
    display:block;
    margin:0;
    padding:10px;
    background:#fff;
    width:100%;
    border:2px solid #d0d0d0 !important;
    border-radius:3px;
    -webkit-appearance: none;
}

.field-group input, select, textarea, .dijitInputField {
    font-size: 14px;
}

.field-group.error > input,
.field-group.error > select,
.field-group.error .addressfield input.empty,
.field-group.error .birthdayfield,
.field-group.error .subfields,
.field-group.error .datefield .dijitInputInner,
.datefield .dijitTextBoxError .dijitInputInner,
.field-group.error textarea {
    border-color:#e85c41 !important;
}

textarea {
    font:14px/18px 'Helvetica', Arial, sans-serif;
    width:100%;
    height:150px;
    overflow:auto;
}

select {
    background:#fff url(/images/icons/signup-sprite.png) no-repeat right -295px;
    background:#fff url(/images/icons/signup-sprite.png) no-repeat right -295px, -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f1f1f1));
    background:#fff url(/images/icons/signup-sprite.png) no-repeat right -295px, -webkit-linear-gradient(top, #fff, #f1f1f1);
    background:#fff url(/images/icons/signup-sprite.png) no-repeat right -295px,     -ms-linear-gradient(top, #fff, #f1f1f1);
    background:#fff url(/images/icons/signup-sprite.png) no-repeat right -295px,         linear-gradient(to bottom, #fff, #f1f1f1);
}
html[dir="rtl"] select {background-position:14px -295px;}

/* Firefox always displays native select arrow button, so hide the background image arrow. */
@-moz-document url-prefix() {
select {
    padding: 8px;
    background-position: -99px 0 !important;
    -moz-appearance: none;
}
}

input:focus, textarea:focus, select:focus, .focused-field .subfields {
border-color:#5d5d5d !important;
outline:none;
}

/* Prevent Chrome's autofill yellow box shadow */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}


.field-help {
    display:block;
    font-weight:normal;
    position:static;
    float:none;
    clear:both;
    margin:0;
    padding:0;
    max-height:0;
    overflow:hidden;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    transition: all .25s;
}
.focused-field .field-help, input:focus + .field-help {
    display:block;
    padding:10px 0;
    max-height:100px;
}

.field-help .help {
    min-height:16px;
    text-decoration: none;
}


/* Error container */
.feedback {
    padding:10px 0;
    line-height:16px;
    font-size:14px;
}

.feedback br {display:none;}

.feedback div {
    font:14px/20px 'Helvetica', Arial, sans-serif !important;
    padding:0 !important;
    margin:0 !important;
}

.indicates-required {text-align:right;}
.indicates-required span {
    font-size:150%;
    font-weight:bold;
    display:inline !important;
}

.formstatus {
    margin-bottom:12px;
    font-size:18px;
}

.alert {
    background:#e4f3d4;
    border:2px solid #5ca000;
    font-size:14px;
    color:#4e7e0e !important;
    margin:10px 0;
    padding:10px;
}


/* Groups, checkboxes, radio buttons */
ul.interestgroup_field,
ul.interestgroup_field li,
ul.unsub-options,
ul.unsub-options li,
.interestgroup_row {
    display:block;
    padding:0;
    margin:0;
    list-style:none;
}
label.checkbox, label.radio {
    font-weight:normal;
    position:relative;
    line-height:24px;
}
.checkbox input, .radio input {
    width:auto !important;
    display:inline-block;
    margin-right:5px;
    padding:0;
    border:none;
    background-color:transparent;
}

/* Address blocks */
.addressfield span {display:block; margin:3px 0 15px 0;}
.addressfield label {display:none;}
.cityfield {width:35%; float:left; padding-right:12px;}
.statefield {width:30%; float:left; padding-right:12px;}
.zipfield {width:35%; float:left;}
.countryfield {clear:both;}

/* Date picker */
.dijitCalendarPopup {position:absolute;}
.dijitComboBox.dijitDateTextBox .dijitArrowButtonContainer {
    cursor:pointer;
    position:absolute;
    top:3px;
    right:2px;
    background:url(/images/icons/signup-sprite.png) no-repeat 10px -235px;
    height:34px;
    width:42px;
    opacity:.5;
    padding:0 5px;
}
.dijitComboBox.dijitDateTextBox .dijitArrowButtonContainer input {visibility:hidden;}
.dijitComboBox.dijitDateTextBox .dijitArrowButtonContainer:hover {opacity:1;}
.dijitValidationContainer {display:none;}

/* Input placeholder color */
.dijitPlaceHolder {position:absolute; top:10px; left:10px; color:#ababab !important; font-weight:normal;}
::-webkit-input-placeholder {color:#ababab;}
:-moz-placeholder {color:#ababab; opacity:1;}
::-moz-placeholder {color:#ababab; opacity:1;}
:-ms-input-placeholder {color:#ababab;}

html[dir="rtl"] .dijitComboBox.dijitDateTextBox .dijitArrowButtonContainer {left:6px; right:auto;}
html[dir="rtl"] .dijitPlaceHolder {left:auto; right:10px;}


/* Birthday & US phone field */
.subfields {
    display:block;
    margin:0;
    padding:8px 10px;
    background:#fff;
    width:100%;
    border:2px solid #d0d0d0;
    border-radius:3px;
    color:#d0d0d0
}
.subfields input {
    display:inline-block;
    margin:0;
    padding:0;
    width:2.5em;
    border:none !important;
    text-align:center;
}
.subfields label {display:none;}
.phonedetail2 input {width:3.4em;}
.birthdayfield input {width:1.7em;}

/* Forward to friend */
.captcha {
    float:left;
    width:320px;
    margin-right:20px;
    min-height:150px;
}
.captcha input {display:inline;}

/* Archive list */
#archive-list {
    display:block;
    margin:15px 0;
    padding:0;
    border-top:1px solid #eee;
}
#archive-list li {
    display:block;
    list-style:none;
    margin:0;
    padding:6px 10px;
    border-bottom:1px solid #eee;
}

.borderbox, .field-help, input, textarea, select {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.field-shift {
    left: -9999px; position: absolute;
}

html[dir="rtl"] .field-shift {
    right: -9999px;
    left: auto;
}


/* Image replacement for checkbox and radio buttons. */
/* Placing in @media block forces browsers that don't support :checked to fall back to native inputs. */
@media only screen {
    .mergeRow-radio .field-group, .mergeRow-interests-checkboxes .field-group {margin:0 -6px 11px -6px;}

    .checkbox, .radio {
        margin:9px 0 0 0;
        padding:0;
    }

    /* Position and hide the real checkboxes and radio buttons */
    .checkbox input, .radio input {
        position:absolute;
        width:24px;
        height:24px;
        overflow:hidden;
        margin:0;
        padding:0;
        outline:0;
        opacity:0;
    }

    .checkbox input + span, .radio input + span {
        display:block;
        border-radius:3px;
        padding:6px 6px 6px 38px;
    }

    .checkbox:hover span,
    .checkbox input:focus + span,
    .radio:hover span,
    .radio input:focus + span {
        background:rgba(0,0,0,.05);
    }

    /* Insert a pseudo element inside each label with a background sprite.  */
    .checkbox input + span:before, .radio input + span:before {
        display:block;
        position:absolute;
        top:6px;
        left:6px;
        width:24px;
        height:24px;
        background:url(/images/icons/signup-sprite.png) no-repeat;
        content:" ";
        vertical-align:top;
    }

    /* Position the background sprite based on state of checkbox/radio. */
    .radio input:focus + span:before { background-position:0 -30px; }
    .radio input:checked + span:before { background-position:0 -60px; }
    .radio input:checked:focus + span:before { background-position:-0 -90px; }
    .checkbox input + span:before { background-position:0 -120px; }
    .checkbox input:focus + span:before { background-position:0 -150px; }
    .checkbox input:checked + span:before { background-position:0 -180px; }
    .checkbox input:checked:focus + span:before { background-position:0 -210px; }

    /* Right-to-left checkbox/radio modifications */
    html[dir="rtl"] .checkbox input + span:before, html[dir="rtl"] .radio input + span:before {left:auto; right:0;}
    html[dir="rtl"] .checkbox input + span, html[dir="rtl"] .radio input + span {padding:6px 38px 6px 6px;}
}

/* Use high-res sprite for retina displays */
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
    .checkbox input + span:before, .radio input + span:before, .calendar-icon {
        background-image:url(/images/icons/signup-sprite-2x.png);
        background-size: 24px;
    }
}

/* IE6 and 7 overrides */
.ie-lte7 .field-group input, .ie-lte7 .subfields {width:535px;}
.ie-lte7 .cityfield input {width:170px;}
.ie-lte7 .statefield input {width:121px;}
.ie-lte7 .zipfield input {width:170px;}
.ie-lte7 .subfields input {width:40px;}
.ie-lte7 .hidden-from-view {display:none;}
.ie-lte7 select {
    display:inline-block;
    width:560px;
}

/* IE doesn't support input placeholders until v10, show labels on addresses */
.ie-lte7 .addressfield label, .ie-lte9 .addressfield label {display:block; font-weight:normal; font-size:14px;}

.dijitTooltip{display:none !important;}

		body{
			font:14px/20px 'Helvetica', Arial, sans-serif;
			margin:0;
			padding:0 0 0 0;
			text-align:center;
			-webkit-text-size-adjust:none;
		}
		p{
			padding:0 0 10px 0;
		}
		h1 img{
			max-width:100%;
			height:auto !important;
			vertical-align:bottom;
		}
		h2{
			font-size:22px;
			line-height:28px;
			margin:0 0 12px 0;
		}
		h3{
			margin:0 0 12px 0;
		}
		.headerBar{
			background:none;
			padding:0;
			border:none;
		}
		.sign-up{
			width:600px;
			margin:0 auto 10px auto;
			text-align:left;
            display:flex;
            flex-wrap:wrap;
            justify-content:center;

            }



		input.formEmailButton{
			border:none !important;
		}
		.formEmailButton{
			display:inline-block;
			font-weight:500;
			font-size:16px;
			line-height:42px;
			font-family:'Helvetica', Arial, sans-serif;
			width:auto;
			white-space:nowrap;
			height:42px;
			margin:12px 5px 12px 0;
			padding:0 22px;
			text-decoration:none;
			text-align:center;
			cursor:pointer;
			border:0;
			border-radius:3px;
			vertical-align:top;
		}
		.formEmailButton span{
			display:inline;
			font-family:'Helvetica', Arial, sans-serif;
			text-decoration:none;
			font-weight:500;
			font-style:normal;
			font-size:16px;
			line-height:42px;
			cursor:pointer;
			border:none;
		}
		.rounded6{
			border-radius:6px;
		}
		.powereWrapper{
			padding:20px 0;
			width:560px;
			margin:0 auto;
		}
		.poweredBy{
			display:block;
		}
		span.or{
			display:inline-block;
			height:32px;
			line-height:32px;
			padding:0 5px;
			margin:5px 5px 0 0;
		}
		.clear{
			clear:both;
		}
		.profile-list{
			display:block;
			margin:15px 20px;
			padding:0;
			list-style:none;
			border-top:1px solid #eee;
		}
		.profile-list li{
			display:block;
			margin:0;
			padding:5px 0;
			border-bottom:1px solid #eee;
		}
		html[dir=rtl] .sign-up,html[dir=rtl] .container,html[dir=rtl] label{
			text-align:right !important;
		}
		html[dir=rtl] ul.interestgroup_field label{
			padding:0;
		}
		html[dir=rtl] ul.interestgroup_field input{
			margin-left:5px;
		}
		html[dir=rtl] .hidden-from-view{
			right:-5000px;
			left:auto;
		}
		body,#bodyTable{
			background-color:#eeeeee;
		}
		h1{
			font-size:28px;
			line-height:110%;
			margin-bottom:30px;
			margin-top:0;
			padding:0;
		}
		#templateContainer{
			background-color:none;
		}
		#templateBody{
			background-color:#ffffff;
        text-align:center;
        width:100%;
		}
		.bodyContent{
			line-height:150%;
			font-family:Helvetica;
			font-size:14px;
			color:#333333;
			padding:20px;
		}
		a:link,a:active,a:visited,a{
			color:#336699;
		}
		.formEmailButton:link,.formEmailButton:active,.formEmailButton:visited,.formEmailButton,.formEmailButton span{
			background-color:green !important;
			color:#ffffff !important;
		}
		.formEmailButton:hover{
			background-color:green !important;
			color:#ffffff !important;
		}
		label{
			line-height:150%;
			font-family:Helvetica;
			font-size:16px;
			color:#5d5d5d;
		}
		.field-group input,select,textarea,.dijitInputField{
			font-family:Helvetica;
			color:#5d5d5d !important;
		}
		.asterisk{
			color:#cc6600;
			font-size:20px;
		}
		label .asterisk{
			visibility:hidden;
		}
		.indicates-required{
			display:none;
		}
		.field-help{
			color:#777;
		}
		.error,.errorText{
			color:#e85c41;
			font-weight:bold;
		}
	@media (max-width: 620px){
		body{
			width:100%;
			-webkit-font-smoothing:antialiased;
			padding:0 0 0 0 !important;
			
		}

}	

@media (max-width: 620px){
		.sign-up,.poweredWrapper{
			width:auto !important;
			max-width:600px !important;
			padding:0 10px;
		}

}	@media (max-width: 620px){
		#templateContainer,#templateBody,#templateContainer table{
			width:100% !important;
			-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			box-sizing:border-box;

		}

}	@media (max-width: 620px){
		.addressfield span{
			width:auto;
			float:none;
			padding-right:0;
		}

}	@media (max-width: 620px){
		.captcha{
			width:auto;
			float:none;
		}

}		.gdpr-mergeRow{
			margin:10px 0;
			color:#4a4a4a;
			font-family:Helvetica;
		}
		.gdpr-content{
			margin:0 -20px 0 -20px;
			padding:20px;
			background:rgba(255, 255, 255, 0.8);
		}
		#gdpr-label{
			margin-top:0;
		}
		#gdpr-description{
			margin-top:6px;
			margin-bottom:0;
			padding-bottom:11px;
		}
		.gdpr-content p{
			color:#4a4a4a;
			font-size:13px;
			line-height:1.5;
		}
		.gdpr-content .checkbox-group label{
			font-weight:normal;
			font-size:13px;
		}
		#gdpr-legal{
			padding-top:20px;
			margin:0;
		}
		.gdpr-footer{
			margin:0 -20px 0 -20px;
			padding:20px;
			background:rgba(255, 255, 255, 0.9);
			overflow:auto;
			color:#6d6d6d;
		}
		.gdpr-footer p{
			font-size:10px;
			line-height:1.5;
			margin-bottom:0;
		}
		.gdpr-footer a{
			color:#206578;
		}
		.gdpr-footer img{
			width:65px;
			float:left;
			margin-right:15px;
		}
