<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/lavish-bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">

    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="https://trends-global.blogspot.com" target = "_blank">About</a></li>
                <li><a href="/tutorials">Tutorials</a></li>
            </ul>
        </nav>
        <div class="container">
{{  content  }}
        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="https://github.com/Trends-Global">github.com/Trends-Global</a></li>
          <li><a href="mailto:xyz.trends.global@gmail.com">email: xyz.trends.global@gmail.com</a></></li>
  </ul>
        </footer>
    </body>
</html>
