@font-face {
font-family: 'DeStencilNF';
    src: url('https://buildhello.ca/fonts/DeStencilNF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* This is the correct usage */
}
