
/**
* LL DEtechno
*/


@font-face {
font-family: 'LLDEtechnoTwistGX';
    src: url('https://buildhello.ca/fonts/v/llDeTechno/LLDEtechnoTwistGX.ttf') format(truetype) tech(variations);
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* This is the correct usage */
	font-variation-settings: 'twst' 0 100, 'slnt' 0 50; /* Range for custom axes */
}


